#navbar{
  display: flex;
  justify-content: space-between;
  background-color: rgb(88, 225, 159);
  height: 50px;
  align-items: center;

}

#container-nav{
  display: flex;


}
li{
display: inline;

}
a{
color: white;
text-decoration: none;
padding: 7px;
font-weight: bold;

}
.logo a{
  font-size: 20px;
  color:crimson;
  font-family: fantasy;
}
header{
  position: sticky;
  top: 0;
}
