<div class="product-item"(click)="handleClickProduct(product)">
  <div class ="product-image">
    <img
    [src]="product ? product.imageUrl[0] :''"
    [alt]="product?.name">
  </div>
  <div class="product-details">
  <div class="product-name">
      <h6>{{product?.name?.substring(0,30)}} {{product && product.name[41]?"...":null}}</h6>
    </div>
    <div class="product-price">
      <h5>$ {{(product?.sold_price || 0)/100}}
        <del>$ {{(product?.regular_price|| 0)/100 }}</del>
      </h5>
    </div>
  </div>
</div>

